#load {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position:fixed;
    text-align: center;
    z-index: -1;
}
#load img {
    margin: 10rem auto;
}
#load p {
    margin: -10rem auto;
    color: white;
    font-size: 3rem;
}

header {
    background:rgb(34, 34, 34);
    padding: 5px 15px !important;
    margin: -10px -8px;
}
footer {
    background:rgb(34, 34, 34);
    padding: 5px 15px !important;
    margin: -27px -8px;
}

body {
    background: radial-gradient(farthest-corner, #000009, #000009, #000009, #0E2A82);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    color: white;
}

a:link {
    color: white;
    text-decoration: gray underline dotted;
    font-weight: bold;

}
a:visited {
    color: white;
    text-decoration: gray underline dotted;    
    font-weight: bold;
}
a:hover, a:focus {
    color: lightgray;
    text-decoration: darkcyan underline dotted;
    font-weight: bold;
} 
a:active {
    color: gray;
    text-decoration: darkcyan underline botted;
    font-weight: bold;
}

#wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1vh auto auto auto;
    grid-template-areas: "header header header"
                         "form question-wrapper sidebar"
                         "form question-wrapper sidebar"
                         "footer footer footer";
}

#header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#header img {
    width: auto;
    height: 80px;

}

#sidebar {
    grid-area: sidebar;
}

#sidebar, #form {
    background: rgba(34, 34, 34, 0.7)
}

aside {
    top: 0;
    bottom: 0;
    width: auto;
    position: sticky;
    overflow-y: scroll;
    border-style: none none none solid;
    margin-left: -1rem;
    padding-left: 1rem;
}

select, input {
    width: 13vw;
}

#typeOption p {
    text-align: center;
}

#form {
    top: 0;
    bottom: 0;
    width: auto;
    position: sticky;
    grid-area: form;
    border-style: none solid none none;
    margin-right: -6rem;
    /* padding-right: -1rem; */
}

#question-wrapper {
    grid-area: question-wrapper;
    width: 40%;
    margin: 1rem auto;
    display: flex;
    flex-flow: column;
}

#counter {
    text-align: center;
}

#question {
    text-align: center;
}

#answers-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 1rem auto;
    justify-content: center;
}

p.answer {
    display: block;
    padding: 0.5rem 1rem;
    margin: auto 3px;
    border: 1px solid gray;
    border-radius: 15%;
}

#footer {
    grid-area: footer;
}
footer {
    text-align: center;
}