@import url(index.html);

html {
    font-size: 16;
    font-family: 'Ubuntu', sans-serif;
    margin: 2rem 6rem;
    background-color: #82ff9e;
}

body {
    background-color: #A9FBC3;
    padding: 2rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#selfie {
    max-width: 25vw;
    max-height: 60vh;
    width: auto;
    height: auto;
}

nav {
    height: auto;
    display: flex;
    position: sticky;
    flex-flow: row;
    justify-content: space-around;
    top: 0px;
    background-color: silver;
    border: 6px outset silver;
}

#home {
    display: inline-block;
    width: 3vw;
    height: 7vh;
    background: url("images/leftieHYPERS.png") no-repeat;
    background-size: contain;
}

#home:hover {
    background: url("images/leftieMEGAHYPERS.png") no-repeat;
    background-size: contain;
}

#github {
    display: inline-block;
    width: 3vw;
    height: 7vh;
    background: url(images/GitHub-Mark-120px-plus.png) no-repeat;
    background-size: contain;
}

#hw1 {
    display: inline-block;
    width: 3vw;
    height: 7vh;
    background: url(images/V1Head.webp) no-repeat;
    background-size: contain;
}

#introduction {
    color: slateblue;
    text-decoration: underline;
}

header, main, footer {
    border: 6px outset silver;
    background-color: silver;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

header {
    text-align: center;
    font-family: 'Comfortaa', serif;
}

p {
    text-indent: 2rem;
    line-height: 1.5rem;
}

hr {
    color: black;
}

a:link {
    color: slateblue;
}

a:visited {
    color: blueviolet;
}

a:hover, a:focus {
    color: blue;
}

a:active {
    color: white;
}