* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 150%;
}

html, body {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgb(159,226,191);
}

header {
    justify-content: center;
    align-items: center;
    grid-area: header;
}

header img {
    width: 15%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 100px;
    border: 10px groove grey;
    
}

article, section {
    padding: 1rem;
}

h1, h2, h3 {
    font-family: 'Baloo Bhai 2', sans-serif;
}

p {
    font-family: 'Harmattan', sans-serif;
}

a:link {
    color: darkslateblue;
}
a:visited {
    color: dimgrey;
}
a:hover, a:focus {
    color: blue;
}
a:active {
    color: gray;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color:rgb(38, 110, 66);
}

h2 {
    font-size: 2rem;
    color: rgb(38, 110, 66);
}

h3 {
    font-size: 1.25rem;
}

#wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 10fr 10fr 10fr 10fr;
    grid-template-areas: "header"
                         "content1"
                         "content2"
                         "content3"
                         "contactinfo";
}

@media screen and (min-width: 900px) {
    #wrapper {
        grid-template-rows: 1fr 5fr 5fr;
        grid-template-columns: 50% 50%;
        grid-template-areas: "header header"
                             "content1 content2"
                             "contactinfo content3";
    }
}

#content1 {
    grid-area: content1;
}

#content2 {
    grid-area: content2;
}

#content1-container {
    background-image: linear-gradient(rgba(159,226,191, 1), rgba(159, 226, 191, 0.75), rgba(159, 226, 191, 0.5),rgba(159, 226, 191, 0.25)), url(../media/images/portfolio/terrariamodweapons.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#content3-container {
    background-image: linear-gradient(rgba(159, 226, 191, 1), rgba(255, 255, 255, 0)), url(../media/images/portfolio/berrysmod.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 40vh;
}

#content3 {
    grid-area: content3;
}

#contactinfo {
    grid-area: contactinfo;
}

#contactinfo h3 {
    margin-bottom: -5px !important;
    margin-left: -45px !important;
    color: rgb(152, 143, 121);
}

#contactblock h2 {
    text-align: right;
    color: white !important;
    margin-top: -20px !important;
    margin-right: -24px !important;
}

#contactblock {
    background-image: linear-gradient(rgba(159, 226, 191, 1), rgba(72, 194, 123, 0.5));
    padding: 1rem;
    height: 40vh;
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(255, 255, 255, 0);
    border: 0px transparent;
}
.carousel-item img {
    width: 100%;
    height: auto;
}